{"filter":false,"title":"aws-vpc.template","tooltip":"/qs-workshop/submodules/quickstart-aws-vpc/templates/aws-vpc.template","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1585041032655,"hash":"7016e4d9b6c239a1e299e972f912fe60d51c1fe4"}